body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(48, 48, 48);
  padding: 20px;
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 6px;
  grid-auto-rows: 150px;
  filter: drop-shadow(1px 1px 2px gray);
}
main > section {
  height: 100%;
  position: relative;
  border-radius: .2rem;
  
}
main > section > p {
  padding: 0px 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: .7rem;
  position: absolute;
  z-index: 2
}
main > section > div.fill {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1
}

main > section > div.fill:hover {
  opacity: 0;
}
p.name {
  font-size: .8rem;
  position: absolute;
  bottom: 0;
}
p.id {
  font-size: .65rem;
  top: 0
}
p.whereUsed{
  top: 30px;
  z-index: 0
}
